.header {
  background-color: #161616;
  display: flex;
  flex-direction: row;
  height: 3rem;
  position: relative;
  color: white;
  .header-left {
    width: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.2rem;
      user-select: none;
      .title-rita {
        font-size: 24px;
      }
      .title-beta {
        font-size: 12px;
      }
    }
  }
  .header-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .subject-banner {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      margin-left: 1.25rem;
      margin-right: 1.25rem;
      .subject {
        text-wrap: nowrap;
        margin-right: 1rem;
      }
    }
  }
}

.account-content {
  display: flex;
  flex-direction: column;

  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    .user-info-col {
      display: flex;
      flex-direction: column;
      align-items: start;
      p {
        text-wrap: nowrap;
        &.user-detail {
          font-size: 12px;
        }
      }
    }
  }
}
