@use "./base/index" as *;

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

// Style overrides
:root {
  --toastify-color-success: #a56eff;
  overflow: hidden; // absolute positioned item should not cause overflow;
}
