/* ====================================
Variable
---------------------------------------
Sections:
- Breakpoints
- Colors
==================================== */
/* Breakpoints 
|----|----|----|---->
0   320  672  1056
breakpoints using ibm standards
*/

$breakpoints: (
  "small": 320px,
  "medium": 672px,
  "large": 1056px,
);

/* Colors
For gray scale and system colors, we use the color from here:
https://carbondesignsystem.com/elements/color/tokens
Carbon design system is pretty annoying when importing,
so to keep things simple, directly use the hex code from
the above website.
*/
$primary-color: #a56eff;
$primary-color-hover: #be95ff;
