@use "../../../style/abstract/index" as *;
.textbox {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  &.flex {
    width: 100%;
  }
  &.form {
    input {
      min-height: 3rem;
      background-color: #f4f4f4;
      border-bottom: 1px solid #8d8d8d;

      &:focus {
        border: none;
        outline: $primary-color solid 2px;
      }
      &.error {
        border: none;
        outline: 2px solid #da1e28;
      }
    }
  }
  .placeholder {
    color: #a8a8a8; // placeholder text color
  }
  .input-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    .btn {
      position: absolute;
      right: 0;
    }
  }
  input {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    &.password {
      padding-right: 3rem;
    }
    &::placeholder {
      color: #a8a8a8; // placeholder text color
    }
    &.error {
      outline: 2px solid #da1e28;
    }
  }
}
