.header {
  background-color: #161616;
  display: flex;
  flex-direction: row;
  height: 3rem;
  position: relative;
  color: white;
  z-index: 50;
  .header-left {
    width: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.2rem;
      user-select: none;
      .title-rita {
        font-size: 24px;
      }
      .title-beta {
        font-size: 12px;
      }
    }
  }
  .header-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .no-subject-hint {
      color: #c6c6c6;
    }
    .subject-banner {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      margin-left: 1.25rem;
      margin-right: 1.25rem;
      .subject {
        text-wrap: nowrap;
        margin-right: 1rem;
      }
    }
    .header-right-end {
      display: flex;
      flex-direction: row;
    }
  }
}

.account-content {
  display: flex;
  flex-direction: column;
  min-width: 12rem;
  max-width: 18rem;

  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    justify-content: space-between;

    .user-info-col {
      display: flex;
      flex-direction: column;
      align-items: start;
      overflow: hidden;
      p {
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        text-align: start;
        &.user-detail {
          font-size: 12px;
        }
      }
    }
  }
}

.save-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  i {
    color: white;
    opacity: 1;
    &.saved {
      opacity: 0.5;
    }
  }
  text-wrap: nowrap;
}
