@use "../../../style/abstract/index" as *;

.textarea-wrapper {
  height: 100%;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  .textarea-input {
    flex-grow: 1;
    width: 100%;
    min-height: 6rem;
    height: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: #f4f4f4;
    box-sizing: border-box;
    resize: vertical;
  }

  .textarea-input:focus {
    border-color: $primary-color;
    outline: none;
  }

  .textarea-input::placeholder {
    color: #a8a8a8;
  }
}
