@use "../../abstract/index" as *;
.widget-frame {
  background-color: white;
  height: 20%;
  //   width: 280px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  &.selected {
    outline: 2px solid $primary-color;
  }
  .wf-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
}
