@use "../../abstract/index" as *;

.widget-frame {
  background-color: white;
  height: 20%;
  display: flex;
  flex-direction: column;

  &.selected {
    outline: 2px solid $primary-color;
  }
  .wf-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding-left: 1rem;
    justify-content: space-between;
    .wf-heading-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  }
  .wf-content {
    padding: 1rem;
  }
}
