@use "../../../style/abstract/index" as *;

$dashboard-gap: 0.5rem;
@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popupReverse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes shine {
  0% {
    left: -75%;
  }
  50% {
    left: 125%;
  }
  100% {
    left: 125%;
  }
}

.shine {
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(-30deg);
  animation: shine 1s;
  z-index: 200;
}

.widget-frame {
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  &.selected {
    outline: 2px solid $primary-color;
  }
  &.dragging {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  }
  &.entering {
    animation: popup 0.1s ease-in-out;
  }
  &.exiting {
    animation: popupReverse 0.1s ease-in-out;
    animation-fill-mode: forwards;
  }

  .wf-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    padding-left: 1rem;
    justify-content: space-between;
    z-index: 20;

    .wf-heading-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  }
  .wf-content {
    margin: 1rem;
    margin-top: 0.25rem;
    overflow: auto;
    z-index: 20;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    &:hover {
      cursor: default;
    }
  }

  .draggable-area {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}

.widget-frame-preview {
  .wf-heading-left {
    padding-top: 1rem;
  }
}
