@use "../../../style/abstract/index" as *;
.worksheet-widget {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  justify-content: space-between;
}

.worksheet-placeholder {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: start;
  .title {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  .decor {
    min-width: 3px;
    height: 1.5rem;
    background-color: $primary-color;
  }
  .example {
    font-style: italic;
  }
  .status {
    align-self: center;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
}

.worksheet-question-stack {
  display: flex;
  flex-direction: column;
  margin: 0;
}
