.course-tab {
  display: flex;
  flex-direction: column;

  .nav-heading {
    border-bottom: 1px solid #8d8d8d;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-left: 1rem;
    text-wrap: nowrap;
    height: 3rem;
    min-height: 3rem;
  }
  .nav-stack {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    margin: 0;
  }
}

.class-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
  &:hover {
    background-color: #e8e8e8;
  }

  &.selected {
    background-color: #e0e0e0;
    &:hover {
      background-color: #e8e8e8;
    }
  }

  .class-card-words {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
    gap: 0.5rem;
    p {
      margin: 0;
      text-wrap: nowrap;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      user-select: none;
    }
  }
}

.lecture-card {
  background-color: white;
  display: flex;
  flex-direction: row;
  &:hover {
    background-color: #e8e8e8;
  }
  p {
    padding: 1rem;
    flex-grow: 1;
  }
  &.selected {
    background-color: #e0e0e0;
    &:hover {
      background-color: #e8e8e8;
    }
  }
}
