@use "../../style/abstract/index" as *;
.chatroom {
  height: 100%;
  &.absolute-position {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    height: auto;
  }

  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  z-index: 1;
  &.maximized {
    z-index: 100;
  }
  .chatroom-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    min-height: 2.5rem;
    .header-group {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding-left: 1rem;
      align-items: baseline;

      .rita {
        font-size: 20px;
      }
    }
    .header-btn-group {
      display: flex;
      flex-direction: row;
    }
  }
  .chatroom-content {
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    overflow-y: hidden;

    width: 100%;
    height: 100%;

    &.absolute-position {
      height: 24rem;
      width: 20rem;
    }
    &.maximized {
      height: calc(100vh - 5rem);
      width: calc(100vw - 2rem);
    }
    &.collapsed {
      height: 0rem;
    }

    .chatroom-body {
      flex: 1;
      overflow-y: auto;
      // overflow-x: hidden;
      background-color: #f4f4f4;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      scroll-behavior: smooth;
      .empty-chatroom-placeholder {
        // background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        .chips {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          gap: 0.75rem;
          justify-content: center;
        }
      }

      .loading-message {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
      }
    }
    .chatroom-footer {
      display: flex;
      flex-direction: row;
    }
  }
}

.chatroom-message {
  display: flex;
  flex-direction: row;
  align-items: start;
  &.ai {
    text-align: start;
    gap: 0.5rem;
    .chat-msg-decor {
      min-width: 3px;
      height: 1.5rem;
      background-color: $primary-color;
    }
  }
  &.user {
    text-align: start;
    max-width: 75%;
    background-color: white;
    align-self: flex-end;
    padding: 0.5rem;
    border-radius: 12px;
    border-end-end-radius: 4px;
  }
  &.system {
    justify-content: center;
    color: #525252;
    p {
      font-size: 12px;
    }
  }
  .chatroom-message-text {
    overflow: auto;
  }
  .jelly {
    text-decoration: underline;
    display: inline-block;
    &:hover {
      cursor: pointer;
    }
  }
}
