$width: 18rem;
.dropdown-wrapper {
  &.fixed {
    width: $width;
  }
  &.flex {
    width: 100%;
  }
  .dropdown {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #393939;
    text-align: start;
    gap: 1rem;

    &:hover {
      background-color: #4c4c4c;
    }

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;
    }

    .chevron {
      display: flex;
      flex-direction: column;
    }
  }
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  &.fixed {
    width: $width;
  }
  &.flex {
    width: 100%;
  }
  .dropdown-menu-main {
    max-height: 70vh;
    overflow-y: auto;
  }
}

.dropdown-option {
  color: #525252;
  background-color: white;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;

  &:hover {
    background-color: #e8e8e8;
  }

  &.selected {
    background-color: #e0e0e0;
    &:hover {
      background-color: #cacaca;
    }
  }

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1rem;
    user-select: none;
  }
  .dropdown-button {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    &:hover {
      background-color: #8d8d8d32;
    }
  }
}
