@use "../../abstract/index" as *;
.icon-button {
  &.flex {
    width: 100%;
  }

  &.on-dark {
    color: white;
    &:hover {
      background-color: #393939;
    }
  }

  &.primary {
    color: white;
    background-color: $primary-color;
    &:hover {
      background-color: $primary-color-hover;
    }
  }

  &.ghost {
    color: black;
    &:hover {
      background-color: #e8e8e8;
    }
  }

  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-height: 3rem;
  user-select: none;
  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
