@use "../../abstract/index" as *;

.textarea-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 38rem;
  height: 16rem;

  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .textarea-input {
    width: 38rem;
    height: 16rem;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }

  .textarea-input:focus {
    border-color: $primary-color;
    outline: none;
  }

  .textarea-input::placeholder {
    color: #a8a8a8;
  }
}

