@use "../../abstract/index" as *;
.textbox {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  &.flex {
    width: 100%;
  }
  &.form {
    input {
      min-height: 3rem;
      background-color: #f4f4f4;
      border-bottom: 1px solid #8d8d8d;
      &:focus {
        border: none;
        outline: $primary-color solid 2px;
      }
      &.error {
        border: none;
        outline: 2px solid #da1e28;
      }
    }
  }
  .placeholder {
    color: #a8a8a8; // placeholder text color
  }
  input {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 0;
    padding-left: 1rem;
    padding-right: 1rem;

    &::placeholder {
      color: #a8a8a8; // placeholder text color
    }
    &.error {
      outline: 2px solid #da1e28;
    }
  }
  // .tb-label {
  //   padding-bottom: 0.5rem;
  // }
  .error-msg {
    color: #da1e28;
  }
}
