@use "../../abstract/index" as *;

.textarea-wrapper {
  gap: 0.6rem;
  width: 20rem;
  label {
    font-weight: bold;
    align-items: start;
  }

  .textarea-input {
    width: 100%;
    min-height: 8rem;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: #f4f4f4;
    box-sizing: border-box;
    resize: vertical;
  }

  .textarea-input:focus {
    border-color: $primary-color;
    outline: none;
  }

  .textarea-input::placeholder {
    color: #a8a8a8;
  }
}
