.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .home-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden; // to fix the height
    .navbar-wrapper {
      width: 20rem;
      overflow: hidden; // for hiding content when collapsed
      transition: width 0.2s ease-in-out;
      z-index: 100;
      background-color: white;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
      &.collapsed {
        width: 0;
      }
    }
    .dashboard-wrapper {
      flex: 1;
      background-color: #f4f4f4;
      overflow-x: hidden;
    }
  }
}
