.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .home-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    .navbar-wrapper {
      flex: 4;
      background-color: beige;
      overflow-x: hidden;
      transition: flex 0.2s ease-in-out;
      &.collapsed {
        flex: 0;
      }
    }
    .dashboard-wrapper {
      flex: 12;
      background-color: aquamarine;
    }
  }
}
