.preview-space {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: #f4f4f4;
  .preview-content {
    overflow-y: auto;
    flex: 1;
    padding: 1rem;
  }
  .preview-placeholder {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    justify-content: center;
    text-align: center;
  }
}
